# Template cache
application/views/templates_c

# Logs
application/logs

# Component and vendor files
components
vendor

# Generated static assets
static

# Assets cache
cache

# Node modules
node_modules
